@model WebAppHF.Models.Restaurant
        <div class="row">
            <div class="col-md-12">
                <h3> Make a reservation at @Html.DisplayFor(model => model.Name)</h3>
                <p>See the details below: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>Cuisine:</b> @Html.DisplayFor(model => model.FoodType1), @Html.DisplayFor(model => model.FoodType2), @Html.DisplayFor(model => model.FoodType3)
                    <br> <b>Rating:</b> @Html.DisplayFor(model => model.Stars) out of 5
                    <br><b>Price:</b> 45,00 (or 17,50 for childeren under 12)
                    <br> <b>Duration:</b> 90 minutes
                    <br> <b>Start time:</b> 18.30
                    <br> <b>Description</b> @Html.DisplayFor(model => model.Name)
                    <br>
                </p>
            </div>
            <div class="col-md-6"> <img src="~/@Html.DisplayFor(model => model.RestaurantIMGString)" class="img-fluid" alt="Responsive image"> </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.ActionLink("Back to Restaurant overview", "Index", "Restaurant", new { @class = "btn btn-primary main-btn" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Make a reservation", "Book", "Restaurant", new { id = Model.ID }, new { @class = "btn btn-primary main-btn" })
            </div>
        </div>

