@using WebAppHF.Models
@model WebAppHF.Models.ReservationViewModel

<h2>Go make a reservation for @Html.DisplayFor(x => x.Restaurant.Name)</h2>
@using (Html.BeginForm("AddToSession", "Restaurant", FormMethod.Post, new { MyTestParameter = Model }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(x => x.Order.Amount)
                @Html.TextBoxFor(x => x.Order.Amount, "1", new { type = "number", min = "1", max = "20", })
                @Html.ValidationMessageFor(model => model.Order.Amount, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Order.Event.Date)              
                @Html.DropDownListFor(Model => Model.Order.Event.Date, Model.Day, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order.Event.Date, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Order.Event.StartTime)
                @Html.DropDownListFor(Model => Model.Order.Event.StartTime, Model.Time, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order.Event.StartTime, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Order.Comment)
                @Html.TextBoxFor(x => x.Order.Comment)
                @Html.ValidationMessageFor(model => model.Order.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6"> <img src="~/@Html.DisplayFor(x => x.Restaurant.RestaurantIMGString)" class="img-fluid" alt="Responsive image"> </div>
    </div>
    @Html.HiddenFor(x => x.Restaurant.ID, new { id = "ID", Value = Model.Restaurant.ID })

    <button type="submit" value="MakeReservation" class="btn btn-primary main-btn talking-right">Add to Basket</button>
}

