@model WebAppHF.Models.Restaurant
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name</h2>

<p>@Model.Address </p>
<p>@Model.Stars </p>
<p>@Model.Price </p>
<p>@Model.ReducedPrice </p>
<p>@Model.FoodTypes </p>
<p>@Model.FoodIMGString </p>
<p>@Model.RestaurantIMGString </p>



