@using WebAppHF.Models
@model WebAppHF.Models.ReservationVM

<h2>Go make a reservation for @Html.DisplayFor(x => x.Restaurant.Name)</h2>
@using (Html.BeginForm("AddToDataBase", "Restaurant", FormMethod.Post, new { MyTestParameter = Model }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            
                <div class="form-group">
                    @Html.LabelFor(x => x.Order.Record.Amount)
                    @Html.TextBoxFor(x => x.Order.Record.Amount, "1", new { type = "number", min = "1", max = "20", })
                    @Html.ValidationMessageFor(model => model.Order.Record.Amount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                @Html.LabelFor(x => x.Order.Event.Date)
                @Html.DropDownListFor(model => model.Order.Event.StartTime, ViewBag.selectTestTimeList as SelectList, "This is a test", new { @class = "form-control" })</div>
                <div class="form-group">
                @Html.LabelFor(x => x.Order.Event.StartTime)
                @Html.DropDownListFor(model => model.Order.Event.Date, ViewBag.selectTestDayList as SelectList, "This is a test", new { @class = "form-control" })</div>
            
            <div class="form-group">
                @Html.LabelFor(x => x.Order.Record.Comment)
                @Html.TextBoxFor(x => x.Order.Record.Comment)
                @Html.ValidationMessageFor(model => model.Order.Record.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6"> <img src="~/IMG/patronaat1.jpg" class="img-fluid" alt="Responsive image"> </div>
    </div>
    @Html.HiddenFor(x => x.Restaurant.ID, new { id="ID", Value = Model.Restaurant.ID })
    @Html.HiddenFor(x => x.Order.Record.EventType)

<button type="submit" value="MakeReservation" class="btn btn-primary main-btn talking-right">Add to Basket</button>
}

