
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

@Html.ActionLink("Show all Restaurants", "RestaurantList", "Admin", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Show all Jazz Events", "JazzList", "Admin", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Show all Talk Events", "TalkList", "Admin", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Create New Admin", "RegisterAdmin", "Admin", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Log Out?", "LogOut", "Admin", null, new { @class = "btn btn-primary btn-lg" })
