@model IEnumerable<WebAppHF.Models.Talk>

@{
    ViewBag.Title = "TalkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TalkList</h2>

<p>
    @Html.ActionLink("Create New", "CreateTalk", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Return to Admin main page", "Index", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxTicketsPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMGString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxTicketsPP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMGString)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateTalk", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteTalk", new { id=item.ID })
        </td>
    </tr>
}

</table>
