@model List<WebAppHF.Models.JazzDaySummary>
@{
    ViewBag.Title = "Jazz";
}


    <div class="row">
        <div class="col-md-6">
            <h1>Jazz @@ Patronaat</h1>
            <p>Do you like some Jazz music? Then Jazz@Patronaat is the perfect event to go to! With over 18 bands performing in 4 days there must be something for you! </p>
        </div>
        <div class="col-md-2">
            <img src="../IMG/patronaat1.jpg" class="img-fluid  topside-images" alt="Responsive image">
        </div>
        <div class="col-md-2">
            <img src="../IMG/patronaat2.jpg" class="img-fluid  topside-images" alt="Responsive image">
        </div>
        <div class="col-md-2">
            <img src="../IMG/patronaat3.jpg" class="img-fluid  topside-images" alt="Responsive image">
        </div>
    </div>
    <hr id="ruler">
    <h1 id="program">Programme</h1>
    <div class="row">
        @foreach (WebAppHF.Models.JazzDaySummary item in Model)
        {
        <div class="col-md-3">
            <img src="~/IMG/Jazz/@item.IMGString" class="img-fluid" alt="Responsive image">
            <h4 class="dag-header">@item.Day</h4>
            <p class="jazz-info">
                <b>Date:</b> @item.Day - @item.Date.ToShortDateString()<br>
                <b>Location:</b> @item.Location<br>
                <b>Performing:</b> @item.Bands

            </p>
            @*<button type="button" class="btn btn-primary main-btn">Details</button>*@
            @Html.ActionLink("Details", "Day", "Jazz", new { dateString = item.Date.ToString() } ,new { @class = "btn btn-primary main-btn" })
        </div>
        }
    </div>