@using WebAppHF.Models
@model TalkModel

@*<div class="row">*@
<div class="col-md-12">
    <h3 class="margin-reservation">Order your amount of tickets <b>(max 2 tickets per talk)</b></h3>
</div>

@using (Html.BeginForm())
{
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Talk</th>
                <th scope="col">Price per Ticket</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Location</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>€0,00</td>
                <td>@Model.Date.ToShortDateString() | @Model.StartTime.TimeOfDay - @Model.EndTime.TimeOfDay</td>
                <td>@Model.LocationName - Main Hall</td>
            </tr>

        </tbody>
    </table>
    <span>Amount:      </span>
    <select name="Amount">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <br />
    <br />
    <br />

    @Html.HiddenFor(m => m.Adress)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.EndTime)
    @Html.HiddenFor(m => m.Hall)
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.IMGString)
    @Html.HiddenFor(m => m.LocationName)
    @Html.HiddenFor(m => m.MaxTicketsPP)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Price)
    @Html.HiddenFor(m => m.SeatsAvailable)
    @Html.HiddenFor(m => m.StartTime)
    @Html.HiddenFor(m => m.Title)


    <input type = "submit" value = "Order" />
}
