@using WebAppHF.Models
@model TalkModel

@*<div class="row">*@
<div class="col-md-12">
    <h3 class="margin-reservation">Order your amount of tickets <b>(max 2 tickets per talk)</b></h3>
</div>

@using (Html.BeginForm())
{
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Talk</th>
                <th scope="col">Price per Ticket</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Location</th>
            </tr>
            <tr>
                <td>@Model.Talk.Name</td>
                <td>€0,00</td>
                <td>@Model.Talk.Date.ToShortDateString() | @Model.Talk.StartTime.TimeOfDay - @Model.Talk.EndTime.TimeOfDay</td>
                <td>@Model.Talk.LocationName - Main Hall</td>
            </tr>

        </tbody>
    </table>
    <span>Amount:      </span>
    <select name="Talk.Amount">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <br />
    <br />
    <br />

    @Html.HiddenFor(m => m.Talk.ID)

    @*@Html.HiddenFor(m => m.Talk.Adress)
    @Html.HiddenFor(m => m.Talk.Date)
    @Html.HiddenFor(m => m.Talk.Description)
    @Html.HiddenFor(m => m.Talk.EndTime)
    @Html.HiddenFor(m => m.Talk.Hall)

    @Html.HiddenFor(m => m.Talk.IMGString)
    @Html.HiddenFor(m => m.Talk.LocationName)
    @Html.HiddenFor(m => m.Talk.MaxTicketsPP)
    @Html.HiddenFor(m => m.Talk.Name)
    @Html.HiddenFor(m => m.Talk.Price)
    @Html.HiddenFor(m => m.Talk.SeatsAvailable)
    @Html.HiddenFor(m => m.Talk.StartTime)
    @Html.HiddenFor(m => m.Talk.Title)*@


    <input type="submit" value="Order" />
}
