@using WebAppHF.Models
@model Talk

<div class="row">
    <div class="col-md-6">
        <h3>@Model.Name</h3>
        <table class="table table-talking">
            <tbody>
                <tr>
                    <th scope="row">Place:</th>
                    <td>@Model.Adress</td>
                </tr>
                <tr class="">
                    <th scope="row">Time:</th>
                    <td>@Model.StartTime - @Model.EndTime</td>
                </tr>
                <tr class="">
                    <th scope="row">Date:</th>
                    <td>@Model.Date</td>
                </tr>
                <tr class="">
                    <th scope="row">Interview language:</th>
                    <td>Dutch</td>
                </tr>
                <tr class="">
                    <th scope="row">Reservation:</th>
                    <td>Mandatory</td>
                </tr>
                <tr class="">
                    <th scope="row">Price:</th>
                    <td>Free</td>
                </tr>
                <tr class="">
                    <th scope="row">Description:</th>
                    <td>@Model.Description</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 image-dinner">
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-primary main-btn" value="Make a reservation" onclick="@("window.location.href='" + @Url.Action("Book", "Talk", new { id = Model.ID }, null) + "'");" />
    </div>
</div>