@using WebAppHF.Models;
@model IEnumerable<Talk>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (Talk t in Model)
{
    <img src="@t.IMGString" />
    <p>@t.Title</p>
    <br/>
    <p>@t.Description</p>
    <p>@t.StartTime - @t.EndTime</p>

}