@model CartViewModel
@using WebAppHF.Models



<div class="row">
    <div class="col-md-6">
        <h1>Your shopping basket</h1>
        <p>In this page you can view and edit the items in your basket.</p>
    </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat1.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat2.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat3.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
</div>
<hr>
<div class="row basket-send-padding">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tickets</th>
                    <th scope="col">Event</th>
                    <th scope="col">Date and time</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DisplayRecord displayRecord in Model.displayRecords)
                {
                    <tr>
                        <th scope="row">@displayRecord.Record.Amount</th>
                        <td>@displayRecord.Event.Name</td>
                        <td>@displayRecord.Event.Date.ToShortDateString() | @displayRecord.Event.StartTime.ToShortTimeString()</td>
                        <td>@displayRecord.Event.GetPriceString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row basket-send-padding">
    <div class="col-md-10"> </div>
    <div class="col-md-2">
        <button class="btn btn-primary main-btn">Next Step</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><strong>You could also..</strong></p>
    </div>

    @foreach (RestaurantModel restaurant in Model.restaurants)
    {
        <div class="col-md-4">
            <p class="text-center font-weight-bold">Get Dinner</p> <img src="@restaurant.RestaurantIMGString" class="img-fluid mx-auto" alt="Responsive image">
            <p>
                <b>Restaurant:</b> @restaurant.Name
                <br> <b>Price:</b> @restaurant.Stars/5
                <br> <b>Location:</b> @restaurant.Address
                <br> @Html.ActionLink("Meer info", "Details", "RestaurantModel", restaurant.ID)
            </p>
        </div>
    }
    
    @*<div class="col-md-4">
        <p class="text-center font-weight-bold">Get Dinner</p> <img src="../images/patronaat1.jpg" class="img-fluid" alt="Responsive image">
        <p>
            <b>Cuisine:</b> European, Western
            <br> <b>Rating:</b> 3/5
            <br><b>Price:</b> 35,00 (or 17,50 for childeren under 12)
            <br> <b>Duration:</b> 90 minutes
            <br> <b>Start time:</b> 18.30
            <br>
        </p>
    </div>*@
</div>


