@model CartModel
@using WebAppHF.Models



<div class="row">
    <div class="col-md-6">
        <h1>Your shopping basket</h1>
        <p>In this page you can view and edit the items in your basket.</p>
    </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat1.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat2.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
    <div class="col-md-2"> <img src="~/IMG/patronaat3.jpg" class="img-fluid  topside-images" alt="Responsive image"> </div>
</div>
@using (Html.BeginForm("CreateOrder", "Cart", FormMethod.Get))
{
    <hr>
    <div class="row basket-send-padding">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tickets</th>
                        <th scope="col">Event</th>
                        <th scope="col">Date and time</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.OrderItems.Count; i++)
                    {
                        //if (Model.OrderItems[i].Event is Talk)
                        //{
                        @Html.HiddenFor(m => m.OrderItems[i].Event.ID)
                        
                        <tr>
                            <th scope="row">
                                @*<select name="OrderItems[@i].Amount">
            @for (int v = 1; v < 3; v++)
            {
                if (Model.OrderItems[i].Amount == v)
                {
                    <option value="@v" selected>@Model.OrderItems[i].Amount</option>
                }
                else
                {
                    <option value="@v">@v</option>
                }
            }
        </select>*@
                                <p>@Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = Model.OrderItems[i].Event.ID }, new { @class = "btn btn-primary main-btn" }) @Model.OrderItems[i].Amount <p />
                            </th>

                            <td>@Model.OrderItems[i].Event.Name</td>
                            <td>@Model.OrderItems[i].Event.Date.ToShortDateString() | @Model.OrderItems[i].Event.StartTime.ToShortTimeString()</td>
                            <td>@Model.OrderItems[i].Event.GetPriceString()</td>
                        </tr>
                        <input type="hidden" name="OrderItems.Event.ID" value="@Model.OrderItems[i].Event.ID" />
                            @Html.HiddenFor(m => m.OrderItems[i].Event.ID)
                        
                        @*<tr>
                            <th scope="row">
                        <select name="OrderItems[@i].Amount">
                            @for (int v = 1; v <= Model.OrderItems[i].Event.SeatsAvailable; v++)
                            {
                                if (Model.OrderItems[i].Amount == v)
                                {
                                    <option value="@v" selected>@Model.OrderItems[i].Amount</option>
                                }
                                else
                                {
                                    <option value="@v">@v</option>
                                }
                            }
                        </select></th>
                            <td>@Model.OrderItems[i].Event.Name</td>
                            <td>@Model.OrderItems[i].Event.Date.ToShortDateString() | @Model.OrderItems[i].Event.StartTime.ToShortTimeString()</td>
                            <td>@Model.OrderItems[i].Event.GetPriceString()</td>
                        </tr>*@
                        <input type="hidden" name="OrderItems.Event.ID" value="@Model.OrderItems[i].Event.ID" />
                        }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row basket-send-padding">
        <div class="col-md-10"> </div>
        <div class="col-md-2">
            <button class="btn btn-primary main-btn">Next Step</button>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <p><strong>You could also..</strong></p>
    </div>

    @foreach (Event crossSellingEvent in Model.CrossSellingEvents)
    {
        <div class="col-md-4">
            @*<p class="text-center font-weight-bold">Get Dinner</p> <img src="@crossSellingEvent.NoIMGStringInEvent!!!!" class="img-fluid mx-auto" alt="Responsive image">*@
            <p>
                <b>Name:</b> @crossSellingEvent.Name
                <br> <b>Price:</b> @crossSellingEvent.GetPriceString()
                <br> <b>Location:</b> @crossSellingEvent.LocationName
                @crossSellingEvent.GetType()
                <br> @Html.ActionLink("Meer info", "AfterDetail", "Restaurant", crossSellingEvent.ID)
            </p>
        </div>
    }

    @*<div class="col-md-4">
            <p class="text-center font-weight-bold">Get Dinner</p> <img src="../images/patronaat1.jpg" class="img-fluid" alt="Responsive image">
            <p>
                <b>Cuisine:</b> European, Western
                <br> <b>Rating:</b> 3/5
                <br><b>Price:</b> 35,00 (or 17,50 for childeren under 12)
                <br> <b>Duration:</b> 90 minutes
                <br> <b>Start time:</b> 18.30
                <br>
            </p>
        </div>*@
</div>


