@using WebAppHF.Models
@model CartModel

@{
    ViewBag.Title = "PaymentMethod";
}

@using (Html.BeginForm())
{
    <h1>Payment Method</h1>
    <div style="margin-left: 5em;">
        <br />
        @*<img src="~/IMG/paypal.jpg" width="100em" height="100em" style="margin-left: 0em; margin-top: 0em;">*@
        <input id="pp" class="in" style="position:absolute; margin-top:8.1em;" margin-left: -80em; type="radio" name="PaymentMethod" value="PayPal" required /> <span class="sp">Paypal </span>
        <label for="pp"><img src="~/IMG/paypal.jpg" width="100em" height="100em" style="margin-right: 0em; margin-top: 0em;"></label>

        @*<img src="~/IMG/ideal.png" width="100em" height="100em" style="margin-left: 10em; margin-top: 0em;">*@
        <input id="idl" class="in"style="position:absolute;" type="radio" name="PaymentMethod" value="IDeal" required /> <span class="sp">IDeal </span>
        <label for="idl"><img src="~/IMG/ideal.png" width="100em" height="100em" style="margin-left: 10em; margin-right: 5em; margin-top: 0em;"></label>

        @*<img id="visa" src="~/IMG/visa.png" width="150em" height="100em" style="margin-left: 10em; margin-top: 0em;">*@
        <input id="vs" class="in"style="position:absolute;" type="radio" name="PaymentMethod" value="Visa" required />    <span class="sp">Visa </span>
        <label for="vs"><img id="visa" src="~/IMG/visa.png" width="150em" height="100em" style="margin-left: 8em; margin-top: em;"></label>

        @*<img id="mastercard" src="~/IMG/mastercard.png" width="150em" height="100em" style="margin-left: 10em; margin-top: 0em;">*@
        <input id="mc" class="in"style="position:absolute;" type="radio" name="PaymentMethod" value="MasterCard" required />    <span class="sp">MasterCard </span>
        <label for="mc"><img id="mastercard" src="~/IMG/mastercard.png" width="150em" height="100em" style="margin-left: 9em; margin-top: 0em;"></label>
    </div>

    @*for (int a = 0; a < Model.Items.Count; a++)
    {
        @Html.HiddenFor(m => m.Items[a].Adress)
        @Html.HiddenFor(m => m.Items[a].Date)
        @Html.HiddenFor(m => m.Items[a].EndTime)
        @Html.HiddenFor(m => m.Items[a].ID)
        @Html.HiddenFor(m => m.Items[a].LocationName)
        @Html.HiddenFor(m => m.Items[a].Name)
        @Html.HiddenFor(m => m.Items[a].Price)
        @Html.HiddenFor(m => m.Items[a].SeatsAvailable)
        @Html.HiddenFor(m => m.Items[a].StartTime)
        @Html.HiddenFor(m => m.Price)
    }

    <br />
    <br />

    <p style="text-align: center;"> Price: &euro;@Model.Price</p>*@
    <input style="margin-left: 30em; margin-top: 5em; padding-left: 3em; padding-right: 3em; padding-top: 1.5em; padding-bottom: 1.5em;" type="submit" value="Next" />
}