<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title IHFF </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/HfStyling.css")
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top navbar-styling">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">@(Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">@(Html.ActionLink("Jazz@Patronaat", "Index", "Jazz", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">@(Html.ActionLink("Dinner Haarlem", "Index", "Restaurant", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">@(Html.ActionLink("Talking Haarlem", "Index", "Talk", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">@(Html.ActionLink("Historic Haarlem", "Index", "Walks", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">@(Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" }))</li>
                    <li class="nav-item">
                        <a class="nav-link basket-nav" href="#"> <img src="~/IMG/shopping-basket.png" alt=""> </a>
                    </li>
                    <li class="nav-item"> @(Html.ActionLink("Basket", "Index", "Home", null, new { @class = "nav-link" }))</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="carousel-holder">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"> <img class="img-fluid carousel-img" src="~/IMG/haarlem1.jpg"> </div>
                <div class="carousel-item"> <img class="img-fluid carousel-img" src="~/IMG/haarlem2.jpg"> </div>
                <div class="carousel-item"> <img class="img-fluid carousel-img" src="~/IMG/haarlem3.jpg"> </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="main-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-3">
                <h2>Navigation</h2>
                <ul class="footer-list">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("JazzPatronaat", "Index", "Jazz")</li>
                    <li>@Html.ActionLink("Dinner Haarlem", "Index", "Restaurant")</li>
                    <li>@Html.ActionLink("Talking Haarlem", "Index", "Talk")</li>
                    <li>@Html.ActionLink("Historic Haarlem", "Index", "Walks")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Contact</h2>
                <address>
                    <a href="mailto:webmaster@example.com">Email.nl</a>
                    <br>+31 023 - 5241020<br>
                    <br>
                    Head Office<br>
                    Zijlweg 7<br>
                    1234 AA Haarlem
                </address>
            </div>
            <div class="col-md-6">
                <h2>Location</h2>
                <iframe class="img-responsive" id="google-iframe" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ--nhYGzvxUcROX6huIBW4Yo&key=AIzaSyActajOoA4V5lSdaQtAsq2NtTKnqkcxZGs" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <!-- Marketing Icons Section -->
    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <!--
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    -->

    @Scripts.Render("~/Scripts/jquery.min.js")
    @*@Scripts.Render("~/Scripts/bootstrap.bundlr.min.js")*@
    @RenderSection("scripts", required: false)

</body>
</html>
